<div class="row" id="event-card">
  <div class="horizontal-card">
    <div class="col s12 l9" id="card-image-spot">
      <%= image_tag(@event.picture, id: "event-show-image") %>
    </div>
    <div class="card-content col s12 l3">
      <div class="" id="event-show-actions">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
          <%= link_to event_path(@event), data: { position: "bottom", delay: "50", tooltip: "Delete Event", confirm: "Are you sure you want to delete this event?" }, method: :delete,  class: "right btn-floating btn-large waves-effect waves-light red darken-4 tooltipped", id: "event-show-delete-button" do %>
              <i class="material-icons">delete</i>
            <% end %>
            <%= link_to edit_event_path(@event), data: { position: "bottom", delay: "50", tooltip: "Edit Event" }, class: "right btn-floating btn-large waves-effect waves-light green tooltipped", id: "event-show-edit-button" do %>
              <i class="material-icons">mode_edit</i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="cool">
        <div class="col l12 offset-l1 m12" id="date-title-container">
          <div class="col m3 l12 hide-on-small-only" id="event-abbr-date-card">
            <p class="event-date-month-card"><%= @event.start.strftime('%b') %></p>
            <p class="event-date-day-card"><%= @event.start.strftime('%d') %></p>
          </div>
          <div class="col m8 l12" id="event-title-show">
            <%= @event.title %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hide-on-med-and-down row">
  <% if user_signed_in? %>
    <% if @userattending.empty? %>
        <%= link_to "Register", new_event_attendee_path(@event), class: "col l3 offset-l9 green btn-large event-reg-button"%>

    <% else %>
        <%= link_to "Cancel Attendance", "#", class: "right red btn-large" %>
        <%= link_to "Update Attendace", "#", class: "right green btn-large" %>
      </div>
    <% end %>
  <% end %>
</div>

<%= render "eventshowinfo" %>


<% if @showfooter %>
  <div class="hide-on-large-only">
    <div class="col s12">
      <div class="center-align">
        <% if user_signed_in? %>
          <% if @userattending.empty? %>
            <div>
              <%= link_to "Register", new_event_attendee_path(@event), class: "green btn" %>
            </div>
          <% else %>
            <div>
             <%= link_to "Cancel Attendance", "#", class: "red btn" %>
             <%= link_to "Update", "#", class: "green btn" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
