<ul class="side-nav" id="mobile-demo">
  <% if user_signed_in? %>
    <li><%= link_to "Profile", user_path(current_user), class: "navside" %></li>
  <% end %>
  <li><%= link_to "SBNA", root_path, class: "navside"  %></li>
  <li class="no-padding">
   <ul class="collapsible collapsible-accordion">
     <li>
       <a class="collapsible-header navside">Events<i class="material-icons right">arrow_drop_down</i></a>
       <div class="collapsible-body">
         <ul>
           <li><%= link_to("Upcoming", events_path, class: "navside drop") %></li>
           <li><%= link_to("Calendar", calendar_path, class: "navside drop") %></li>
         </ul>
       </div>
     </li>
   </ul>
 </li>
 <li class="no-padding">
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header navside">About<i class="material-icons right">arrow_drop_down</i></a>
      <div class="collapsible-body">
        <ul>
          <li><%= link_to("Board", board_path, class: "navside drop") %></li>
          <li><%= link_to("Committees", committee_path, class: "navside drop") %></li>
          <li><%= link_to("Meeting Minutes", meeting_minutes_path, class: "navside drop") %></li>
        </ul>
      </div>
    </li>
  </ul>
</li>
  <li><%= link_to("Contact", contact_path, class: "navside") %></li>
  <% if user_signed_in? %>
    <li><%= link_to("Sign Out", destroy_user_session_path, method: :delete,
      class: "navside") %>
    </li>
    <% if current_user.admin? %>
      <li>
        <%= link_to("Admin Section", rails_admin_path,
        class: "navside") %>
      </li>
    <% end %>
  <% else %>
    <li><%= link_to "Join The SBNA", new_user_registration_path, class: "navside" %></li>
    <li><%= link_to("Sign In", new_user_session_path,
    class: "navside") %>
    </li>
  <% end %>
</ul>
