<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="center hide-on-med-and-down">
      <li><%= link_to("SBNA", root_path) %></li>
      <li><a href="#" class="dropdown-button" href="#!" data-activates="dropdown3">Events<i class="material-icons right">arrow_drop_down</i></a></li>
        <ul id="dropdown3" class="dropdown-content">
          <li class="topnav-drop"><%= link_to("Upcoming Events", events_path) %></li>
          <li class="topnav-drop"><%= link_to("Calendar",calendar_path) %></li>
        </ul>
      <li><a href="#" class="dropdown-button" href="#!" data-activates="dropdown1">About<i class="material-icons right">arrow_drop_down</i></a></li>
        <ul id="dropdown1" class="dropdown-content">
          <li class="topnav-drop"><a href="#">Board</a></li>
          <li class="topnav-drop"><a href="#">Committees</a></li>
          <li class="topnav-drop"><a href="#">Meeting Minutes</a></li>
        </ul>
      <li><a href="#">Contact</a></li>
      <% if !user_signed_in? %>
        <li><%= link_to "Join The SBNA", new_user_registration_path %></li>
      <% end %>
      <% if user_signed_in? %>
        <ul class="right">
          <li>
            <div class="nav-wrapper">
              <form>
                <div class="input-field">
                  <input id="search" type="search" required>
                  <label for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
          </li>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to("Sign Out", destroy_user_session_path, method: :delete,
          class: "sign-links user-signs") %>
          </li>
          <% if current_user.admin? %>
            <li>
              <%= link_to("Admin Section", admin_users_path,
              class: "sign-links user-signs") %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <ul class="right">
          <li>
            <div class="nav-wrapper">
              <form>
                <div class="input-field">
                  <input id="search" type="search" required>
                  <label for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
          </li>
          <li><%= link_to("Sign In", new_user_session_path,
          class: "sign-links user-signs") %>
        </li>
        </ul>
      <% end %>
    </ul>

    <%= render "layouts/mobilenav" %>
  </div>
</nav>
