<!DOCTYPE html>
<html>
<head>
  <title>Saint Botolph Neighborhood Association</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="center hide-on-med-and-down">
        <li><%= link_to("Home", root_path) %></li>
        <li><a href="#">Join The SBNA</a></li>
        <li><a href="#">Meetings</a></li>
        <li><a href="#">Meeting Minutes</a></li>
        <li><a href="#">Board</a></li>
        <li><a href="#">Committees</a></li>
        <li><a href="#">Contact</a></li>
        <% if user_signed_in? %>
          <li><%= link_to("Sign Out", destroy_user_session_path, method: :delete,
          class: "sign-links user-signs") %>
          </li>
          <% if current_user.admin? %>
            <li>
              <%= link_to("Admin Section", admin_users_path,
              class: "sign-links user-signs") %>
            </li>
          <% end %>
        <% else %>
          <li><%= link_to("Sign In", new_user_session_path,
            class: "sign-links user-signs") %>
          </li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "Home", root_path, class: "navside"  %></li>
        <li><%= link_to "Join The SBNA", new_user_registration_path, class: "navside" %></li>
        <li><a class="navside" href="#">Meetings</a></li>
        <li><a class="navside" href="#">Meeting Minutes</a></li>
        <li><a class="navside" href="#">Board</a></li>
        <li><a class="navside" href="#">Committees</a></li>
        <li><a class="navside" href="#">Contact</a></li>
        <% if user_signed_in? %>
          <li><%= link_to("Sign Out", destroy_user_session_path, method: :delete,
            class: "navside") %>
          </li>
          <% if current_user.admin? %>
            <li>
              <%= link_to("Admin Section", admin_users_path,
              class: "navside") %>
            </li>
          <% end %>
        <% else %>
          <li><%= link_to("Sign In", new_user_session_path,
          class: "navside") %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div id="topbanner">
    <%= image_tag("St-BotolphBanner1_01.gif") %>
  </div>
<%= yield %>


</body>
</html>
