<!DOCTYPE html>
<html>
<head>
  <title>Saint Botolph Neighborhood Association</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= render "layouts/navbar" %>
  <div id="topbanner">
    <%= image_tag("St-BotolphBanner1_01.gif") %>
  </div>
<%= yield %>


</body>
</html>
